huggingface_hub
openai
vllm # pip install vllm --extra-index-url https://download.pytorch.org/whl/cu128
sentence-transformers # compute_sentence_bert_cosine
tf-keras              # compute_sentence_bert_cosine
scikit-learn          # compute_sentence_bert_cosine
langchain-core 
langchain-ollama     # only if using ollama
langchain-community   # for VLLM support
bert-score
seaborn